data/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3
.DS_Store
.idea/
.vscode/
*.env
*.egg-info/
dist/
build/
*.egg
*.whl
coverage/
htmlcov/
*.coverage
*.coveragerc
*.pytest_cache/
.pytest_cache/
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
.pytype_check/
.pytype_check_cache/